.rd{
    background-color: #65b312;
}


.noticeboard{
	margin-top: -1.4rem;
	color: black;
	font-weight: bold;
}

.contbody{
	color: #000000;
	font-weight: bolder;
}

.dataview{
	color: #000000;
}

.container{
	color: #000000;
}

.phn{
	background-color: #c8c8c8;
}